@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set core body defaults */
body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.5px;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}
li {
  list-style: none;
}

body,
ol[class],
li,
ul,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

p {
  margin: 0;
}

/* ------ Responsive Type ---------- */

@media (min-width: 640px) {
  body {
    font-size: 19px;
  }
}
@media (min-width: 768px) {
  body {
    font-size: 20px;
  }
}
@media (min-width: 1024px) {
  body {
    font-size: 21px;
  }
}
@media (min-width: 1280px) {
  body {
    font-size: 22px;
  }
}

.title {
  font-size: 4vw;
  margin-bottom: 2rem;
}
@media (max-width: 678px) {
  .title {
    font-size: 10vw;
  }
}

.container {
  margin: 0 auto;
  padding: 1rem 2rem;
}
.center {
  display: grid;
  place-items: center;
}
